.header {
  display: flex;
  background-color: darkgrey;
  border-bottom: 1px solid #8c8c8c;
  a {
    color: white;
    text-decoration: none;
    padding: 2px 10px;
    cursor: pointer;
    transition: all .25s linear;
    &:hover {
      color: black;
      background-color: aquamarine;
    }
  }
}
